video {
  pointer-events: none;
}

.rent-box button,
select,
input {
  position: relative;
  z-index: 9999;
}

.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.hero-title {
  color: white;
  font-size: 80px;
  font-weight: 800;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center;
  align-content: center;
}

/* RENT BOX */
.rent-box {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 50px;
  border-radius: 10px;
  width: 350px;
  color: white;
  position: relative;
  z-index: 999;
  margin-top: 70px;
}

.rent-box select,
.rent-box input {
  width: 100%;
  height: 55px;
  padding: 0 15px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #3a3a3a;
  color: white;
  appearance: none;
}

.rent-box input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.rent-box select,
.rent-box input {
  margin-top: 12px;
}

select,
input {
  cursor: pointer;
  z-index: 2000;
  position: relative;
}

.rent-box h2 {
  margin-bottom: 15px;
}

.rent-box select,
.rent-box input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.rent-box button {
  width: 100%;
  padding: 14px;
  background: #5679ff;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
  cursor: pointer;
}

.why-container {
  padding: 80px 10%;
  text-align: center;
}

.why-title {
  font-size: 40px;
  color: #2979ff;
}

.why-sub {
  margin-top: 10px;
  font-size: 22px;
}

.why-text {
  width: 80%;
  margin: 20px auto;
  font-size: 18px;
  line-height: 1.6;
}

.why-icons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.icon-circle {
  background: #6c6ad3;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  color: white;
}

.rent-box select {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 24 24' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5H7z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 18px;
}
