/* HERO SECTION */
.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.hero-title {
  color: white;
  font-size: 80px;
  font-weight: 800;
  line-height: 1.1;
  text-transform: uppercase;
}

/* RENT BOX */
.rent-box {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  color: white;
}

.rent-box h2 {
  margin-bottom: 15px;
}

.rent-box select,
.rent-box input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.rent-box button {
  width: 100%;
  padding: 14px;
  background: #5679ff;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  margin-top: 15px;
  cursor: pointer;
}

/* WHY RIDE SECTION */
.why-container {
  padding: 80px 10%;
  text-align: center;
}

.why-title {
  font-size: 40px;
  color: #2979ff;
}

.why-sub {
  margin-top: 10px;
  font-size: 22px;
}

.why-text {
  width: 80%;
  margin: 20px auto;
  font-size: 18px;
  line-height: 1.6;
}

/* ICONS */
.why-icons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.icon-circle {
  background: #6c6ad3;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  color: white;
}
