.navbar {
  z-index: 1000; /* increase priority */
}

.navbar {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  backdrop-filter: blur(10px);
}

.nav-links {
  display: flex;
  list-style: none;
  display: flex;
  gap: 50px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.nav-links a:hover {
  color: #4d9fff;
}
