/* NAVBAR MAIN STYLE */
.navbar {
  position: fixed;
  top: 0;
  width: 95%;
  height: 75px;
  background: rgba(0, 0, 0, 0.85); /* transparent black */
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 2000;
}

/* LEFT SIDE LOGO */
.nav-left {
  font-size: 26px;
  font-weight: 700;
  color: white;
}

/* MENU LINKS */
.nav-links {
  display: flex;
  gap: 55px; /* perfect spacing */
  list-style: none;
  margin: 0;
  padding: 0;
}

/* EACH LINK */
.nav-links li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: 500;
  transition: 0.3s ease;
}

/* HOVER EFFECT */
.nav-links li a:hover {
  color: #6ea8ff;
  text-shadow: 0px 0px 10px rgba(110, 168, 255, 0.7);
}

/* Prevent cutting Contact text */
.nav-links li {
  white-space: nowrap;
}
